 html body {
     background-image: url(./images/wall9.jpg);
     font-family: 'Grandstander', cursive;
     color: black;
     font-size: 25px;
     background-repeat: repeat;

 }

 .main-div {
     position: relative;
     left: 40%;
 }

 .main {
     position: absolute;
 }

 .card-body {
     height: 20rem;
     width: 40rem;
 }

 .admin-main-btn {
     position: absolute;
     left: -20px !important;
     top: 90%;
 }

 .main-card {
     margin-top: 30px;
     opacity: 92%;
     background-color: rgb(245, 234, 221) !important;
     border-radius: 7px !important;
 }

 .main-header {
     margin-top: 100px;
     background-color: chocolate !important;
     color: white;
     border-radius: 7px;
     text-align: center;
     padding-top: 10px;
     padding-bottom: 5px;
     opacity: 82%;
 }

 .search-basic {
     position: absolute;
     width: 100%;
     height: 90%;
     top: 20%;
     left: 0;
     opacity: 92%;
     background-color: rgb(245, 234, 221) !important;
     border-radius: 7px !important;

 }

 .basic-btn {
     position: absolute;
     top: 36%;
     left: 0;
 }

 .advanced-label {
     text-align: center !important;
     margin-left: 33%;
     padding-top: 15px;
 }
.first-main{
    position: absolute;
    margin-left: 19vw;
}
 .banner {
     position: absolute;
     writing-mode: tb-rl;
     transform: rotate(-180deg);
     text-orientation: sideways;
     left: 0%;
     bottom: -90px;
     width: 100vh;
     height: 40px;
     font-size: 120px;
     color: rgb(87, 43, 14);
     background-color: rgb(238, 193, 141);
     max-width: 200px;
     height: 870px;
     padding-top: 100px;
     border-radius: 10px;
     opacity: 80%;
     padding-right: 20px;
 }

 .banner2 {
     position: absolute;
     writing-mode: vertical-rl;
     text-orientation: sideways;
     left: 148%;
     top: 25px;
     width: 900px;
     height: 40px;
     font-size: 120px;
     color: rgb(87, 43, 14);
     background-color: rgb(238, 193, 141);
     max-width: 200px;
     height: 870px;
     padding-top: 100px;
     padding-right: 20px;
     border-radius: 10px;
     opacity: 80%;


 }

 .logo-banner {
     height: 150px;

 }

 .itc {
     position: absolute;
     color: rgb(230, 126, 7);
 }

 .logo-nav {
     width: 40px;
     position: absolute;
     right: 125px;
 }

 .banner-nav {
     color: rgb(87, 43, 14);
     position: absolute;
     right: 50px;
 }

 .banner-txt {
     position: absolute;
 }

 .navbar {
     border-radius: 10px;
     z-index: 3;
 }

 .logout-btn {
     color: rgb(148, 25, 148) !important;
     font-size: 20px !important;
 }

 /* Basic Search Results */

 .basic-search {
     margin-top: 120px;
 }

 /* Profile */

 .container-profile {
     position: absolute;
     top: 25%;
     left: 20%;
     background-color: chocolate;
     height: 50%;
     border-radius: 10px;
     padding-top: 30px;
     opacity: 92%;
 }

 .admin-form-alert {
     margin-top: 7px;
     position: absolute;
     height: 53px !important;
 }

 .header-profile {
     position: absolute;
     width: 100%;
     background-color: rgb(245, 234, 221) !important;
     color: rgb(124, 91, 53);
     border-radius: 7px;
     text-align: center;
     padding-top: 10px;
     padding-bottom: 5px;
 }

 .navLink {
     color: rgb(148, 25, 148);
     font-size: 20px;
     margin-right: 15px;
     z-index: 10;
 }

 .navLink:hover {
     color: rgb(238, 222, 238);
 }


 /* MyPets */
 .my-pets {
     position: absolute;
     top: 30%;
     left: 20%;
 }

 .status {
     position: absolute;
     height: 8vh;
     margin-top: 100px;
     text-align: start;
     width: 20%;
     left: 40%;
     padding-left: 20px;
 }

 .head-status {
     text-align: center;
     width: 100%;
 }

 .your-pet {
     display: inline-block;
     width: 150px;
     height: 150px;
 }

 .deck {
     opacity: 95%;

 }

 .my-card {
     max-width: 300px;
     max-height: 600px;
     background-color: rgb(245, 234, 221) !important;
 }

 .img-card {
     height: 230px;
 }

 .search-div {
     position: absolute;
     width: 40%;
     border-radius: 7px !important;
     top: 20%;
     left: 30%;
 }

 .form-adv {
     position: absolute;
     width: 100%;
     left: 0;
 }

 .accordion {
     background-color: chocolate !important;
     border-radius: 20px !important;
     opacity: 92%;
     max-height: 350px !important;
 }

 .my-modal {
     padding: 140px;
     background-color: chocolate;
     position: absolute;
     top: 10%;
     left: 16%;
     width: 70%;
     height: 80%;
     display: block;
     margin-left: auto;
     margin-right: auto;
     opacity: 92%;
     color: white;
 }

 .my-modal div {
     padding-bottom: 10px;
 }

 /* Pets */

 .tab-pets {
     position: relative;
     background-color: chocolate;
     width: 100%;
     height: 100% !important;
     left: 0%;
     opacity: 90%;
     color: rgb(97, 9, 21) !important;
     margin-top: 0px;
     z-index: 2;
 }

 .tab-pets>a {
     color: white !important;
     background-color: rgb(95, 41, 10) !important;
 }

 .tab-pets>a:active {
     background-color: teal !important;
     color: white !important;
 }

 .tab-item {
     position: absolute;
     background-color: rgb(95, 41, 10);
     opacity: 90%;
     width: 100%;
     height: 400%;
     color: white;
     left: 0%;
     padding-top: 150px;
 }

 .pet-page {
     background-color: rgb(245, 234, 221);
     color: rgb(95, 41, 10);
     margin-bottom: 0;
 }

 .pet-status button {
     display: block;
     margin-bottom: 20px;
 }

 .pet-info {
     position: absolute;
     right: 40%;
 }

 .profile-img {
     position: absolute;
     max-width: 450px;
     left: 4%;
     top: 2%;
     border-radius: 20px;
 }

 .profile-error {
     position: absolute;
     text-align: center;
     top: -2%;
     width: 40%;
     left: 30%;
 }

 /* Admin */
 .admin-prof {
     position: absolute;
     height: 60%;
     left: 22%;
     opacity: 92%;
 }

 .admin-link {
     position: absolute;
     top: 13%;
 }

 .header-admin {
     position: absolute;
     width: 100%;
     background-color: rgb(245, 234, 221) !important;
     color: rgb(124, 91, 53);
     border-radius: 7px;
     text-align: center;
     padding-top: 10px;
     padding-bottom: 7px;
 }

 /* Pets */

 .pet-item {
     position: relative;
     width: 100%;
     height: 100px;
     left: 0%;
     top: 100px !important;
     border-radius: 6px;
     background-color: chocolate;
     color: white;
     margin-bottom: 15px;
     opacity: 92%;
 }

 .pet-type {
     position: absolute;
     width: 70%;
     height: 32px;
     top: 48px;
     left: 20%;
     font-size: 20px;
     font-style: normal;
     font-weight: 400;
     line-height: 16px;
     letter-spacing: 0em;
     text-align: left;
     color: #FFFFFF;
 }

 .pet-name {
     position: absolute;
     width: 70%;
     height: 12px;
     top: 48px;
     left: 20px;
     font-style: normal;
     font-weight: normal;
     font-size: 20px;
     line-height: 16px;
     display: flex;
     align-items: center;
     color: white;
 }

 .pet-breed {
     position: absolute;
     font-size: 20px;
     top: 40%;
     left: 40%;


 }

 .profile-link {
     position: absolute;
     left: 87%;
     top: 20%;
 }

 .pet-list-admin {
     position: absolute;
     width: 100%;
     top: -40px;
     left: -30px;
 }

 /* Admin Dashboard */

 .user-link {
     position: absolute;
     top: 25%;
     left: 80%;
 }

 .user-item {
     position: relative;
     width: 98%;
     height: 100px;
     left: 0%;
     top: -80px !important;
     border-radius: 6px;
     background-color: chocolate;
     color: white;
     margin-bottom: 15px;
     opacity: 92%;
 }

 .user-name {
     position: absolute;
     width: 70%;
     height: 12px;
     top: 48px;
     left: 20px;
     font-style: normal;
     font-weight: normal;
     font-size: 30px;
     line-height: 16px;
     display: flex;
     align-items: center;
     color: white;
 }

 .user-lastname {
     position: absolute;
     left: 35%;
     top: 35%;
 }

 .user-email {
     position: absolute;
     left: 58%;
     top: 35%;
 }

 .edit-profile-link {
     position: absolute;
     left: 75%;
     top: 20%;

 }

 /* Logged Out */
 .logged-out {
     background-color: chocolate;
     height: 1000px !important;
     opacity: 82%;
     padding: 200px;
     color: white;
 }

 .logged-out button {
     margin-right: 50px;
 }

 .logged-out-modal {
     background-color: chocolate;
     opacity: 70%;
     padding: 250px;

 }

 .login-card {
     background-color: chocolate !important;
     position: absolute;
     left: 25%;
     height: 130px;
     border: none !important;
     color: white;
 }

 .sign-card {
     background-color: chocolate !important;
     position: absolute;
     left: 23%;
     top: -114px;
     width: 50%;
     height: 130px;
     border: none !important;
     color: white;
     padding: 20px;
 }

 .sign-header {
     position: absolute;
     top: 0;
     left: 40%;
 }

 /* Advanced Search */

 .adv-result {
     position: relative;
     width: 170%;
     height: 100px;
     left: -40%;
     top: 100px !important;
     border-radius: 6px;
     background-color: chocolate;
     color: white;
     margin-bottom: 15px;
     opacity: 92%;
 }

 .admin-form-link {
     position: absolute;
     top: 0;
     left: 0;
     top: 20px;
 }

 .admin-form-pet {
     position: absolute;
     top: 50px;
     left: 30px;
 }