 html body {
     background-image: url(./images/wall3.jpg);
     font-family: 'Grandstander', cursive;
     color: black;
     font-size: 25px;
     overflow: hidden;
 }

 .main-div {
     position: relative;
     left: 100%;
 }

 .main {
     position: absolute;
 }

 .card-body {
     height: 20rem;
     width: 40rem;
 }

 .main-card {
     margin-top: 30px;
     opacity: 92%;
     background-color: rgb(245, 234, 221) !important;
     border-radius: 7px !important;
 }

 .main-header {
     margin-top: 100px;
     background-color: rgb(245, 234, 221) !important;
     color: rgb(124, 91, 53);
     border-radius: 7px;
     text-align: center;
     padding-top: 10px;
     padding-bottom: 5px;
 }

 .search-basic {
     position: absolute;
     width: 100%;
     height: 90%;
     top: 20%;
     left: 0;
     opacity: 92%;
     background-color: rgb(245, 234, 221) !important;
     border-radius: 7px !important;

 }

 .basic-btn {
     position: absolute;
     top: 36%;
     left: 0;
 }

 .advanced-label {
     text-align: center !important;
     margin-left: 33%;
     padding-top: 15px;
 }

 .banner {
     position: absolute;
     writing-mode: tb-rl;
     transform: rotate(-180deg);
     text-orientation: sideways;
     left: 30%;
     bottom: -90px;
     width: 100vh;
     height: 40px;
     font-size: 120px;
     color: rgb(87, 43, 14);
     background-color: rgb(238, 193, 141);
     max-width: 200px;
     height: 870px;
     padding-top: 10px;
     border-radius: 10px;
     opacity: 80%;
     padding-right: 20px;
 }

 .banner2 {
     position: absolute;
     writing-mode: vertical-rl;
     text-orientation: sideways;
     right: -1100px;
     top: 30px;
     width: 900px;
     height: 40px;
     font-size: 120px;
     color: rgb(87, 43, 14);
     background-color: rgb(238, 193, 141);
     max-width: 200px;
     height: 870px;
     padding-top: 15px;
     padding-right: 20px;
     border-radius: 10px;
     opacity: 80%;


 }

 .logo-banner {
     height: 150px;

 }

 .itc {
     position: absolute;
     color: rgb(230, 126, 7);
 }

 .logo-nav {
     width: 40px;
     position: absolute;
     right: 160px;
 }

 .banner-nav {
     position: absolute;
     right: 50px;
 }

 .banner-txt {
     position: absolute;
 }


 /* Profile */

 .container-profile {
     position: absolute;
     top: 25%;
     left: 20%;
     background-color: chocolate;
     height: 50%;
     border-radius: 10px;
     padding-top: 70px;
     opacity: 85%;
 }

 .header-profile {
     position: absolute;
     width: 100%;
     background-color: rgb(245, 234, 221) !important;
     color: rgb(124, 91, 53);
     border-radius: 7px;
     text-align: center;
     padding-top: 10px;
     padding-bottom: 5px;
 }

 .navLink {
     color: rgb(148, 25, 148);
     font-size: 20px;
     margin-right: 15px;
 }

 .navLink:hover {
     color: rgb(238, 222, 238);
 }


 /* MyPets */
 .my-pets {
     position: absolute;
     top: 30%;
     left: 20%;
 }

 .status {
     position: absolute;
     height: 8vh;
     margin-top: 100px;
     text-align: start;
     width: 20%;
     left: 40%;
     padding-left: 20px;
 }

 .your-pet {
     display: inline-block;
     width: 150px;
     height: 150px;
 }

 .deck {
     opacity: 95%;

 }

 .my-card {
     background-color: rgb(245, 234, 221) !important;
 }

 .search-div {
     position: absolute;
     width: 40%;
     border-radius: 7px !important;
     top: 20%;
     left: 30%;
 }

 .form-adv {
     position: absolute;
     width: 100%;
     left: 0;
 }

 .accordion {
     background-color: chocolate !important;
     border-radius: 20px !important;
     opacity: 92%;
     max-height: 350px !important;
 }

 .my-modal {
     padding-top: 40px;
     background-color: chocolate;
     position: absolute;
     top: 10%;
     left: 16%;
     width: 70%;
     height: 80%;
     display: block;
     margin-left: auto;
     margin-right: auto;
     opacity: 72%;
     color: white;
 }

 /* Pets */

 .tab-pets {
     position: relative;
     background-color: chocolate;
     width: 100%;
     height: 100% !important;
     left: 0%;
     opacity: 90%;
     color: rgb(97, 9, 21) !important;
     margin-top: 0px;
 }

 .tab-pets>a {
     color: white !important;
     background-color: rgb(95, 41, 10) !important;
 }

 .tab-pets>a:active {
     background-color: teal !important;
     color: white !important;
 }

 .tab-item {
     position: absolute;
     background-color: rgb(95, 41, 10);
     opacity: 90%;
     width: 100%;
     height: 100%;
     color: white;
     left: 0%;
     padding: 150px;
 }

 .pet-page {
     background-color: rgb(245, 234, 221);
     color: rgb(95, 41, 10);
     margin-bottom: 0;
 }

 .pet-status button {
     display: block;
     margin-bottom: 20px;
 }

 /* Admin */
 .admin-prof {
     position: absolute;
     height: 60%;
     left: 22%;
 }

 .admin-link {
     position: absolute;
     top: 13%;
 }